
<% if @photos.any? %>
  <% @photos.each do |photo| %>

    <div class='post'>
      <%= image_tag photo.image(:large) %>
      <br>
      <%= link_to "Edit", edit_photo_path(photo) %>
      <%= link_to "Delete", photo_path(photo), method: :delete %>
      <br>
      <%= photo.description %>
      <br>
    </div>

  <% end %>
<% else %>
  <p>"Woops, looks like you haven't added any photos"</p>
<% end %>

<%= link_to "Add photo", new_photo_path %>
